<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    
    
    
    <add key="Lenguaje" value="C:\Users\b-j-e\source\repos\30-CS-Bobcat-business-core\SGA\I18n\idioma." />
    <add key="Token" value="" />
    <add key="ChatId" value="" />
    <add key="filePathLogger" value="D:\\archvo.log" />
  </appSettings>
  <connectionStrings>
    <add name="BSConnection" connectionString="Data Source=DESKTOP-42PNIQ9\b-j-e;Initial Catalog=BusinessDB;Integrated Security=True" />
    <add name="SLConnection" connectionString="Data Source=DESKTOP-42PNIQ9\b-j-e;Initial Catalog=SLDB;Integrated Security=True" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>